[Unit]
Description=Run pkg-notify.sh regularly

[Timer]
# Runs 15 min after login, then every hour
OnBootSec=2m
OnUnitActiveSec=30m
Persistent=true

[Install]
WantedBy=timers.target
