[Unit]
Description=Run pkg-notify regularly

[Timer]
# Runs 2 minutes after login, then every 30 minutes
OnBootSec=2m
OnUnitActiveSec=30m
Persistent=true

[Install]
WantedBy=timers.target
